.deal-buy {
    width: 15%;
    margin: 30px;
}
.deal-buy div {
    margin: 15px 0;
}
.deal-buy div span {
    min-width: 80px;
    display: inline-block;
}
.deal-buy div select {
    width: 122px;
    padding: 0 5px;
    background-color: #8e8e8e;
    border: 1px solid #8e8e8e;
    border-radius: 5px;
}
.deal-buy div input {
    width: 100px;
    padding: 2px 10px;
    border: 1px solid #8e8e8e;
    background-color: #8e8e8e;
}
.text-center {
    text-align: center;
    margin-top: 35px !important;
}
.deal-buy div button {
    color: #fff;
    padding: 5px 45px;
    background-color: #839fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}


@media screen and (max-width: 1224px){
    .deal-buy {
        width: 20%;
        margin: 10px 20px;
    }
}