.footer-main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.deal-logo {
    font-size: 12px;
    margin-right: 50px;
}
.deal-logo img {
    width: 150px;
    height: 150px;
}
.dealStation-right {
    font-size: 12px;
}
.dealStation-right div {
    margin: 20px 0;
}
.dealStation-right label {
    min-width: 80px;
    margin-right: 20px;
    display: inline-block;
}
.deal-seat {
    width: 173px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #898989;
    border: 1px solid #898989;
}
.client {
    width: 150px;
    padding: 2px 10px;
    background-color: #898989;
    border: 1px solid #898989;
}
.deal-verify select {
    height: 21px;
    border-radius: 5px;
    background-color: #898989;
    border: 1px solid #898989;
}
.deal-verify input {
    width: 65px;
    padding: 2px 7px;
    margin: 0 10px;
    background-color: #898989;
    border: 1px solid #898989;
}
.deal-verify p {
    width: 65px;
    height: 21px;
    color: #000;
    margin: 0;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    background-color: #898989;
}
.deal-btn {
    text-align: center;
}
.deal-btn button {
    padding: 10px 40px;
    font-size: 12px;
    background-color: #3f51b5;
    margin: 20px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}


@media screen and (max-width: 1224px){
    .dealStation-right div {
        margin: 15px 0;
    }
}