.aqua {
    color: #009688;
}
.table-box {
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.table-title {
    color: orange;
    font-weight: bold;
    margin: 10px;
}
.price-table {
    font-size: 12px;
    display: flex;
}
.price-table form {
    width: 25%;
}
.border-right {
    border-right: 1px solid #4c4c4c;
}
.chart-box {
    display: flex;
}
.k-chart {
    /*position: relative;*/
}
/*右键菜单*/
#menuRight{
    width: 125px;
    height: 54px;
    box-sizing: border-box;
    /*overflow: hidden;*/
    position: absolute;
    top: -9999px;
    left: -9999px;
    z-index: 100;
}
.menuUl{
    padding: 2px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #8f8f8f;
    background: #fff;
    margin: 0;
    list-style: none;
}
.menuRight{
    width: 100%;
    height: 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}
.menuRight em {
    width: 24px;
    height: 24px;
    background: #eaead7;
    display: block;
}
.menuRight a {
    width: 70px;
    color: #333;
    background: #fff;
    padding-left: 5px;
    text-decoration: none;
    display: block;
}
.rightMenu {
    width: 125px;
    padding: 2px;
    font-size: 14px;
    border: 1px solid #8f8f8f;
    border-radius: 3px;
    margin: 0;
    background-color: #fff;
    box-sizing: border-box;
    list-style: none;
    position: absolute;
    left: 120px;
    top: -27px;
    display: none;
}
.rightMenu li {
    display: flex;
    align-items: center;
}
.rightMenu li a {
    flex: 1;
    cursor: pointer;
}
.artIndex:hover .rightMenu {
    display: block;
}
/*右键菜单 end*/
#cross {
    width: 80px;
    color: #fff;
    font-size: 12px;
    background-color: #000;
    border: 1px solid #8e8e8e;
    position: absolute;
    z-index: 10;
    left: 30px;
    top: 120px;
}
#cross p {
    text-align: right;
    margin: 0;
}
#cross div {
    text-align: right;
}
#cross div p {
    display: inline-block;
}
.crossNone {
    display: none;
}
.chart-details {
    flex: 1;
    max-width: 200px;
    min-width: 200px;
    margin-left: 10px;
}
.chart-sort {
    font-size: 14px;
    overflow: hidden;
}
.chart-sort ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.chart-sort ul li {
    display: inline-flex;
}
.chart-sort ul li a {
    padding: 5px 15px;
}
.chart-sort ul li a:hover {
    color: #fff!important;
    background-color: #393939!important;
}
/*图表右侧详情*/
.details-main {
    overflow: hidden;
}
.det-box {
    font-size: 12px;
    border-top: 1px solid #4c4c4c;
}
.det-box div {
    margin: 8px;
    display: flex;
}
.det-box form table {
    width: 100%;
    margin-left: 5px;
}
.det-box form table thead {
    text-align: left;
}
.width-100 {
    width: 30%;
    text-align: right;
}
.margin-l {
    margin-left: 20px;
}
.pen-price {
    margin: 5px 0;
}
.pen-price a {
    padding: 3px 25px;
    color: #fff;
    background-color: #8e8e8e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.pen-price a:hover {
    background-color: #839fff;
}
.pen {
    background-color: #839fff!important;
}
/*图表右侧详情*/


@media screen and (max-width: 1224px){
    .table-title {
        margin: 5px 10px;
    }
    .det-box div {
        margin: 3px 8px;
    }
}