/*公共样式*/
.green {
    color: #009900!important;
}
.red {
    color: red!important;
}
.lightBlue {
    color: #00ffff;
}
.orange {
    color: orange!important;
}
.blue {
    color: #3f51b5!important;
}
.bg-green {
    background-color: #00FF00!important;
}
a {
    text-decoration: none;
}
button:focus {
    outline: none;
}
/*input的type为number时,取消右边上下箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
html {
    height: 100%;
}
body {
    margin: 0;
    position: relative;
    height: 100%;
    overflow: hidden;
}
.width1216 {
    display: none!important;
}
.height85 {
    height: 90%!important;
}
.height10 {
    height: 5%!important;
}

.black {
    color: #000;
}
.bg-black {
    background-color: #000;
}
.bg-1a {
    background-color: #1a1a1a;
}
.white {
    color: #fff;
}
.bg-white {
    background-color: #fff;
}
/*公共样式 end*/

/*顶部菜单*/
.header {
    height: 50px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
.header-menu li {
    padding: 0 10px;
    display: inline-block;
}
.header a:hover, .header a:focus {
    color: #3f51b5;
}
.menu {
    font-size: 14px;
    position: absolute;
    background-color: #8e8e8e;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 5%;
    z-index: 100;
    display: none;
}
.menu li {
    padding: 10px 30px 10px 10px;
    cursor: pointer;
}
.menu li:hover {
    color: #fff;
    background-color: #1a1a1a;
}
.header-block {
    display: block;
}
#analyze {
    left: 85px;
}
#deal {
    left: 142px;
}
#tool {
    left: 200px;
}
#help {
    left: 255px;
}
/*顶部菜单 end*/

/*表单数据*/
.main {
    height: 573px;
    padding: 0 10px;
    overflow: hidden;
}
.nav {
    font-size: 12px;
    overflow: hidden;
}
.nav ul {
    padding: 0;
    list-style: none;
}
.nav ul li {
    padding: 0 10px;
    display: inline-block;
}
.nav a:hover, .nav a:focus {
    color: #3f51b5;
}
.table-box {
    overflow-y: auto;
    background-color: rgb(26, 26, 26);
}
.tables {
    padding: 10px;
}
.table {
    width: 100%;
    text-align: center;
    font-size: 12px;
}
.table tbody tr td {
    height: 30px;
}
.pagination {
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}
.pagination ul {
    padding: 0;
    list-style: none;
    margin-right: 20px;
}
.pagination ul li {
    padding: 0 20px;
    display: inline-block;
}
.pagination ul li a {
    font-size: 12px;
}
.pagination ul li a:hover, .pagination ul li a:focus {
    color: #3f51b5!important;
}
/*表单数据 end*/

/*底部*/
footer {
    height: 285px;
    overflow: hidden;
}
.exchange {
    height: 36px;
    margin: 0 -10px;
    overflow: hidden;
}
.exchange ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.exchange ul li {
    float: left;
    display: inline-block;
}
.exchange a {
    padding: 10px;
    font-size: 14px;
    display: block;
}
.exchange a:hover {
    background-color: #626262;
}
.exchange-bg {
    color: #fff!important;
    background-color: #626262;
}
.details {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-message {
    font-size: 12px;
    margin-left: 30px;
    display: flex;
    align-items: center;
}
.user-message div {
    margin-right: 50px;
}
.time {
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.time span {
    min-width: 65px;
    margin: 0 15px;
    font-size: 12px;
    display: inline-block;
}
.signal {
    display: flex;
}
.signal div {
    width: 3px;
    background-color: #4e4e4e;
}
.signal0 {
    height: 4px;
    margin: 21px 1px 0;
}
.signal1 {
    height: 8px;
    margin: 17px 1px 0;
}
.signal2 {
    height: 12px;
    margin: 13px 1px 0;
}
.signal3 {
    height: 16px;
    margin: 9px 1px 0;
}
.signal4 {
    height: 20px;
    margin: 5px 1px;
}
.timeClose {
    width: 18px;
    height: 18px;
    cursor: pointer;
}
/*底部 end*/

/*弹出框*/
.dim {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    z-index: 100;
}
.pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    display: none;
}
.pop-up-box {
    width: 400px;
    min-height: 150px;
    border-radius: 20px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
/*使用说明*/
.shortcut-main {
    width: 60%;
    margin: 0 auto 30px;
}
.shortcut-main div {
    margin: 10px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shortcut-main div span {
    width: 70px;
    text-align: left;
    display: inline-block;
}
/*免责条款*/
.termSheet-title {
    text-align: center;
    padding: 20px 20px;
}
.termSheet-title span {
    padding: 0 15px;
    border-left: 2px solid blue;
    font-size: 14px;
    font-weight: bold;
}
.termSheet-title img {
    width: 15px;
    float: right;
    cursor: pointer;
}
.termSheet-main {
    padding: 0 20px 40px;
    font-size: 12px;
    color: #8e8e8e;
}
/*关于*/
.about-title {
    text-align: center;
    padding: 20px 20px;
}
.about-title span {
    padding: 0 15px;
    border-left: 2px solid blue;
    font-size: 14px;
    font-weight: bold;
}
.about-title img {
    width: 15px;
    float: right;
    cursor: pointer;
}
.about-main {
    font-size: 12px;
    text-align: center;
}
.about-main img {
    width: 200px;
    height: 100px;
}
.brand {
    font-size: 14px;
    margin-bottom: 25px;
}
.versions {
    padding: 20px 0 10px;
}
/*弹出框 end*/
/*智能键盘*/
.moveBar-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1100;
}
#moveBar {
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 1110;
    width: 200px;
    height: 230px;
    background: #fff;
    color: #000;
    border: 2px solid #aaa;
    box-sizing: border-box;
    display: none;
}
#banner {
    color: #000;
    font-size: 12px;
    background: #ddd;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#banner img {
    width: 16px;
}
#content input {
    width: 100%;
    box-sizing: border-box;
    padding: 2px 3px;
    outline: none;
}
#content form {
    height: 175px;
    overflow-y: auto;
}
.article-bg {
    background-color: #aaa;
}
/*滚动条样式*/
#content form::-webkit-scrollbar {/*滚动条整体样式*/
    width: 0;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
#content form::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 0 rgba(255,255,255,0);
    background: rgba(0,0,0,0);
}
#content form::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 0 rgba(255,255,255,0);
    border-radius: 0;
    background: rgba(0,0,0,0);
}
#content table {
    width: 100%;
    font-size: 12px;
}
/*智能键盘 end*/

@media screen and (max-width: 1224px){
    .exchange a {
        padding: 10px;
        font-size: 12px;
    }
}